<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="Host" value="" />
      <!--The program accepts only an integer value for the port.-->
      <add key="Port" value="" />
      <add key="UserName" value="" />
      <!--You can configure the application for pass phrase or private key authentication.-->
      <!--Modify the value of your authentication method to "1".-->
      <add key="PasswordAuthenticationMethod" value="" />
      <!--THE PrivateKeyAuthenticationMethod HAS NOT BEEN TESTED!-->
      <add key="PrivateKeyAuthenticationMethod" value="" />
      <!--Enter the pass phrase for your user account OR for your private key file.-->
      <add key="Passphrase" value="" />
      <add key="PrivateKeyFileLocation" value="" />
      <add key="FtpDirectory" value="" />
    </appSettings>
</configuration>